<div class="dados-container">

    <div class="profile-info">

        <div class="profile-img">
            <img src="../../../../assets/template/dados/profile-pic-template.png" alt="profile-pic">
        </div>
        
        <div class="profile-details">
            
            @if (!editingProfile) 
            {
                <button class="edit edit-profile" (click)="editProfile()"><i class="fa-solid fa-pen-to-square"></i></button>
                <div class="content nome">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" value="Gabriel Brisolara" disabled>
                </div>
    
                <div class="divided">
                    <div class="left d-item">
                        <div class="content idade">
                            <label for="idade">Idade:</label>
                            <input type="text" class="form-control" id="idade" value="21 anos" disabled>
                        </div>
                        <div class="content peso">
                            <label for="peso">Peso:</label>
                            <input type="text" class="form-control" id="peso" value="82 kg" disabled>
                        </div>
                        <div class="content altura">
                            <label for="altura">Altura:</label>
                            <input type="text" class="form-control" id="altura" value="173 cm" disabled>
                        </div>
    
                    </div>
    
    
                    <div class="right d-item">
    
                        <div class="content tmb">
                            <label for="tmb">TMB:</label>
                            <input type="text" class="form-control" id="tmb" value="1800 kcal" disabled>
                        </div>
                        <div class="content die">
                            <label for="dieta">Dieta:</label>
                            <input type="text" class="form-control" id="dieta" value="2000 kcal" disabled>
                        </div>
                        <div class="content esforco">
                            <label for="esforco">Esforço:</label>
                            <input type="text" class="form-control" id="esforco" value="1.3" disabled>
                        </div>
    
                    </div>
    
                </div>
            } @else {
                <button class="edit confirm-edit-profile" (click)="confirmEdit()"><i class="fa-solid fa-check"></i></button>
                <div class="content nome">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" value="Gabriel Brisolara">
                </div>
    
                <div class="divided">
                    <div class="left d-item">
                        <div class="content idade">
                            <label for="idade">Idade:</label>
                            <input type="text" class="form-control" id="idade" value="21 anos">
                        </div>
                        <div class="content peso">
                            <label for="peso">Peso:</label>
                            <input type="text" class="form-control" id="peso" value="82 kg">
                        </div>
                        <div class="content altura">
                            <label for="altura">Altura:</label>
                            <input type="text" class="form-control" id="altura" value="173 cm">
                        </div>
    
                    </div>
    
    
                    <div class="right d-item">
    
                        <div class="content tmb">
                            <label for="tmb">TMB:</label>
                            <input type="text" class="form-control" id="tmb" value="1800 kcal" disabled>
                        </div>
                        <div class="content die">
                            <label for="dieta">Dieta:</label>
                            <input type="text" class="form-control" id="dieta" value="2000 kcal" disabled>
                        </div>
                        <div class="content esforco">
                            <label for="esforco">Esforço:</label>
                            <input type="text" class="form-control" id="esforco" value="1.3">
                        </div>
    
                    </div>
    
                </div>
            }
            

        </div>

        

    </div>


    <div class="historico-dietas">
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
        <button class="h-item"><span class="h-item-id">1231312</span><span>23/05/204</span><span>2560 kcal</span></button>
    </div>

</div>