<div class="dietas-container">

    <div class="dietas-items">

        <div class="dieta">
            <div class="d-sep">
                <div class="d-sep-item data">04/12/2002</div>
                <div class="d-sep-item nome">Gabriel Ferreira Brisolara</div>
                <div class="d-sep-item tipo">Emagrecimento</div>
            </div>
            <div class="d-sep">
                <div class="d-sep-item tmb">2100 kcal</div>
                <div class="d-sep-item refeicoes">6 refeições</div>
                <div class="d-sep-item show-more">
                    <button type="button" class="btn">
                        <i class="fa-solid fa-square-plus"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

