<div class="dietas-container">

    <div class="dietas-items">

        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>
        <div class="dieta">
            <div class="top">
                <div class="data">04/12/2002</div>
                <div class="nome">Gabriel Ferreira Brisolara</div>
                <div class="tipo">Emagrecimento</div>
            </div>
            <div class="bottom">
                <div class="tmb">2100 kcal</div>
                <div class="refeicoes">6 refeições</div>
            </div>
        </div>

    </div>

</div>
